<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dheo.dheodeliverymerchantapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/dheo_login_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.dheo.dheodeliverymerchantapp.OrderTrackerActivity"></activity>
        <activity android:name="com.dheo.dheodeliverymerchantapp.SettingsActivity" />
        <activity android:name="com.dheo.dheodeliverymerchantapp.AllPayloadsActivity" />
        <activity android:name="com.dheo.dheodeliverymerchantapp.ListActivityMultiplePickupAddressSlots" />
        <activity android:name="com.dheo.dheodeliverymerchantapp.ClientDashboardBillingActivity" />
        <activity android:name="com.dheo.dheodeliverymerchantapp.SingleAddressPickupSlotActivity" />
        <activity android:name="com.dheo.dheodeliverymerchantapp.ListActivityPickupAddress" />
        <activity android:name="com.dheo.dheodeliverymerchantapp.PassResetDoneActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Accepts URIs that begin with "https://example.com" -->
                <data android:host="rocket.dheo.com" />
                <data
                    android:pathPrefix="/client/reset_password"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.rocket.dheo.com"
                    android:pathPrefix="/client/reset_password"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name="com.dheo.dheodeliverymerchantapp.PasswordResetActivity" />
        <activity android:name="com.dheo.dheodeliverymerchantapp.ClientDashboardActivity" />
        <activity android:name="com.dheo.dheodeliverymerchantapp.SignUpActivity" />
        <activity android:name="com.dheo.dheodeliverymerchantapp.LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.dheo.dheodeliverymerchantapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC-J049wsvqyjP-YfB0nPk900BDFBUlcKY" />
    </application>

</manifest>